body{
  background-color: #272626;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box{
  width: auto;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.turn{
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}


.icon{
  font-size: 15px;
  color: #070707;
}